/*Final Style*/
/*General Style*/

html {
  color: seashell;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
}

/*Header style*/

header {
  position: fixed;
  background-color: black;
  height: 69px;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

nav a {
  color: seashell;
  font-size: 22px;
  text-decoration: underline;
  padding: 10px 10px;
}

/*Main style*/

main {
  position: relative;
  top: 69px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

/*Our Mission*/

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blackbox {
  background-color: black;
  width: 100%;
}

/*Tea of the Month?*/

#featured {
  position: relative;
  padding-top: 50px;
  width: 1000px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tea {
  width: 300px;
  margin: 10px;
}

.tea img {
  height: 200px;
  width: 300px;
}

.tea h3 {
  margin-top: 10px;
}

/*Locations*/

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 50px;
}

#locations h2 {
  margin-bottom: 15px;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.address {
  width: 300px;
  background-color: black;
  opacity: 1;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.address h3,
.address p {
  margin-bottom: 20px;
}

/*Contact Information*/

#contact {
  height: 200px;
}

/*Footer style*/

footer {
  margin-left: 20px;
}
